<header class="cabecalho_pai">
    <a href="/"><img class="logo" src="https://itrv.com.br/wp-content/uploads/2017/07/itrv-logo.png" alt=""></a>   
    <a class="btncabecalho" href="/login"> <div>ADMINISTRATIVO</div></a>
    <a class="btncabecalho" href="/operacoes"> <div>OPERAÇÕES</div></a>
    <a class="btncabecalho" href="/login"> <div>ESTOQUE</div></a>
    <a class="icone_login" href="/login"><span class="material-icons-outlined">person</span><b>Login</b></a> 
</header>