<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITRV</title>

    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">   

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/leilao.css">
</head>
<body>

    <% if(usuariologado){ %> 
        <p class="nome_usuario_logado">   <%= usuariologado.nome %> </p>
        <% } %> 

    <%- include('./partials/header') %>

    <main class="oba_ok_voltar" >

   
        <div class="registro_oba_ok_voltar">

            <p class="titulo_do_ok">O registro de ADRP foi realizado com sucesso</p>

            <a class="botao_de_voltar_para_pagina_leilao" href="/adrp">Clique aqui para continuar</a>
            
        
        </div>


              

                


            
            
           

    </main>

    <%- include('./partials/footer') %>

    

    
</body>
</html>