<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITRV</title>

    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">   

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="stylesheets/base.css">
</head>
<body>

    <% if(usuariologado){ %> 
        <p class="nome_usuario_logado">  Logado: <%= usuariologado.nome %>  </p>
        <% } else { %> 
            <p class="nome_usuario_deslogado">Fazer Login</p>
            
            <% } %> 

    <%- include('./partials/header') %>

    <main >

   
        <div class="banner_da_pagina_principal">

            <section>
                <a href="/precisaEstarLogado"><img class="imagem_1_banner_home" src="/images/ciclo-kaizen.png" alt=""></a>
             </section>
 


        </div>


              

                


            
            
           

    </main>

    <%- include('./partials/footer') %>

    

    
</body>
</html>