<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITRV</title>

    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">   

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="stylesheets/base.css">
</head>
<body>
    <%- include('./partials/header') %>

    <main class="master">

        

        <br><br><br><br><br><br>
        <div class="login">
            
            <h2>Login</h2>
            <br>
            <input class="nome" type="text" placeholder="Nome">
            <br><br>
            <input class="nome" type="password" placeholder="Senha">
            <br><br>
            <button class="btnLogin">Enviar</button>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


        

    </main>

    <footer> Desenvolvido pelo time ITRV - Uso interno </footer>

    
</body>
</html>