<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITRV</title>

    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">   

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="stylesheets/base.css">
</head>
<body>

    <%- include('./partials/header') %>

    <main >

        <% if(usuariologado){ %> 
            <p class="nome_usuario_logado">   <%= usuariologado.nome %>  </p>
            <% } %> 

   
        <div class="banner_da_pagina_principal">

            <form action="https://api.sheetmonkey.io/form/fma3GczWTFx39P4pqeNksq" class="formulario_oba" method="POST">  
               
                <label>Selecione quem esta fazendo o OBA</label>

              <select name="User" id="User" required>
                        <option  selected disabled >selecione</option>
                        <option value="Bruno" >Bruno</option>
                        <option value="Renan">Renan</option>
                </select>

                <div class="checkbox_do_formulario_do_oba">
                    <input type="text" placeholder="Digite o numero de serie" id="serialNumber" name="serialNumber" required>
                    <label for="serialNumber"></label>
                </div>


                <div class="selacao_do_sistema_operacional">
                    <div>
                        <input type="radio" name="sistemaOperacional" id="win7" value="win7" required ><label for="win7">Windows 7</label>
                    </div>
                    <div>
                        <input type="radio" name="sistemaOperacional" id="win8" value="win8" required ><label for="win8">Windows 8</label>
                    </div>
                    <div>
                        <input type="radio" name="sistemaOperacional" id="win10" value="win10" required ><label for="win10">Windows 10</label>
                    </div>
                  
                </div>

                <div class="pai_oba_pagina_princ">

                

                        <div class="div_direita">
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="LAUDO" value="ok" id="LAUDO" required>
                                <label for="LAUDO">LAUDO</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="NOTA" value="ok" id="NOTA" required>
                                <label for="NOTA">NOTA</label>
                            </div>
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="BIOS" value="ok" id="BIOS" required>
                                <label for="BIOS">BIOS</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="SISTEMA/ATIVAÇÃO" value="ok" id="SISTEMA/ATIVAÇÃO" required>
                                <label for="SISTEMA/ATIVAÇÃO">SISTEMA/ATIVAÇÃO</label>
                            </div>

                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="usb" value="ok" id="usb" required>
                                <label for="usb">HD/SENTINEL</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="ENTRADAS (USB,VGA,HDMI...)" value="ok" id="ENTRADAS (USB,VGA,HDMI...)" required>
                                <label for="ENTRADAS (USB,VGA,HDMI...)">ENTRADAS (USB, VGA, HDMI...)</label>
                            </div>

                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="SOM(P2,MICROFONE,AUTO-FALANTE)" value="ok" id="SOM(P2,MICROFONE,AUTO-FALANTE)" required>
                                <label for="SOM(P2,MICROFONE,AUTO-FALANTE)">SOM (P2, MICROFONE, AUTO-FALANTE)</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="TECLADO_E_ATALHOS (FN)" value="ok" id="TECLADO_E_ATALHOS" required>
                                <label for="TECLADO_E_ATALHOS">TECLADO E ATALHOS (FN)</label>
                            </div>


                        </div>

                        <div class="div_esquerda">
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="SOM(P2,MICROFONE,AUTO-FALANTE)" value="ok" id="SOM(P2,MICROFONE,AUTO-FALANTE)" required>
                                <label for="SOM(P2,MICROFONE,AUTO-FALANTE)">SOM (P2, MICROFONE, AUTO-FALANTE)</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="TECLADO_E_ATALHOS (FN)" value="ok" id="TECLADO_E_ATALHOS" required>
                                <label for="TECLADO_E_ATALHOS">TECLADO E ATALHOS (FN)</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="TOUCHPAD_E_BOTÕES" value="ok" id="TOUCHPAD_E_BOTÕES" required>
                                <label for="TOUCHPAD_E_BOTÕES">TOUCHPAD E BOTÕES</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="WEB_CAM" value="ok" id="WEB_CAM" required>
                                <label for="WEB_CAM">WEB CAM</label>
                            </div>
            
                            <!-- <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="BIOMETRIA" value="ok" id="BIOMETRIA" required>
                                <label for="BIOMETRIA">BIOMETRIA</label>
                            </div> -->
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="ENCERRAR_PROGRAMAS" value="ok" id="ENCERRAR_PROGRAMAS" required>
                                <label for="ENCERRAR_PROGRAMAS">ENCERRAR PROGRAMAS E APAGAR DADOS (DOWNNLOADS)</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="FONTE" value="ok" id="FONTE" required>
                                <label for="FONTE">FONTE</label>
                            </div>
            
                            <div  class="checkbox_do_formulario_do_oba">
                                <input type="checkbox" name="LACRE_DE_GARANTIA/PANFLETO" value="ok" id="LACRE_DE_GARANTIA/PANFLETO" required>
                                <label for="LACRE_DE_GARANTIA/PANFLETO">LACRE DE GARANTIA/PANFLETO</label>
                            </div>
            


                        </div>



                </div>

                
                

               

                

               






                <button type="submit">ENVIAR</button>
            </form>
 


        </div>


              

                


            
            
           

    </main>

    <%- include('./partials/footer') %>

    

    
</body>
</html>