<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITRV</title>

    <!--Fonte / Icons-->    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">   

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/vistoria.css">
</head>
<body>

    <% if(usuariologado){ %> 
        <p class="nome_usuario_logado">  Logado: <%= usuariologado.nome %>  </p>
        <% } else { %> 
            <p class="nome_usuario_deslogado">Fazer Login</p>
            
            <% } %> 

    <%- include('./partials/header') %>

    <main >

   
        <div class="banner_da_pagina_principal_1">

            <ul class="vistori_linha_1_opcoes">
                <li class="botao_vistoria">
                    <a class="botao_vistoria_a" href="/vistoriaMonitor">MONITOR</a> 
                </li>

                <li class="botao_vistoria">
                    NOTEBOOK
                </li>

                <li class="botao_vistoria">
                    DESKTOP
                </li>
            </ul>

            <ul class="vistori_linha_1_opcoes">
                <li class="botao_vistoria">
                    SERVIDOR
                </li>

                <li class="botao_vistoria">
                    TELEVISÃO
                </li>

                <li class="botao_vistoria">
                    OUTROS
                </li>
            </ul>
 


        </div>


              

                


            
            
           

    </main>

    <%- include('./partials/footer') %>

    

    
</body>
</html>