.botao_de_voltar_para_pagina_leilao{
    text-decoration: none;
    background-color: #072E83 ;
    color: white;
    padding: 3%;
    margin-top: 1%;
    font-size: 2rem;
}

.titulo_do_ok{
    font-size: 2rem;
    font-weight: bold;
}

.leilao_empresa_btn{
    width: 130%;
    margin-top: 2%;
    border: #072E83 solid 1px;
    padding: 1%;
}
.radio_leilao{

    margin: 5%;
  
}